.App-header {
  display: flex;
  justify-content: space-between;
  height: 95px;
  padding: 0 65px;
  align-items: center;
  background: var(--oddbg);
}
#logo {
  color: black;
  font-weight: bold;
  text-transform: capitalize;
}
#logo img{
  width: 146px;
}
nav{
    width: 400px;
    max-width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    font-size: 18px;
    text-transform: capitalize;
    color: black;
  }
  nav span{
    cursor: pointer;
    transition: 0.3s ease;;
  }
  nav span:hover{
    text-decoration: underline;
  }
  nav button{
    width: 171px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    text-transform: capitalize;
  }
  nav button::after{
    content: "";
    width: 171px;
    height: 50px;
  }

  @media only screen and (max-width: 1024px) {
    .App-header{
      justify-content: center;
    }
    nav{
      display: none;
    }
  }