.container div:not(:first-child) {
  margin-bottom: 5%;
}

.container{
  width: 90%;
  margin:0 auto;
}
h2{
  font-size: 50px;
}

#abt-us {
    background: white;
    color: black;
    padding: 5%;
}
#networks{
  padding: 5%;
}
